/* Fondo general */
body {
  background-color:#f6eccf ; /* beige cálido */
  font-family: Arial, Helvetica, sans-serif; /* texto normal */
  color: #333;
  margin: 0;
  padding: 20px;
  text-align: center; 
 }
  /* Listas */
 ul {
  display: inline-block;
  text-align: left; 
}

/* Títulos */
h1, h2, h3, h4 {
  font-family: 'Dancing Script', cursive;
  color: #8B4513 !important; /* marrón cálido */
  text-align: center;
  font-size: 3rem; 
}

/* Enlaces */
a {
  color: #d2691e;
  text-decoration: none;
  text-align: center; 
}
/* Tabla */
table {
  margin: 20px auto; 
  border-collapse: collapse; 
  text-align: center; 
    font-family: inherit; 
 }
 /* Caracacteristicas de la Tabla */
th, td {
  border: 1px solid #a32020; 
  padding: 10px 20px;
}
 /* Caracteristicas de redes sociales */
footer {
  background-color: #f6eccf ;
  text-align: center;
  padding: 10px;
}